<div class="post">
  <article class="card">
    <div class="card-header">
      <h4>{{post.title}}</h4>
      <div class="post-info">
        Posted by {{post.User.name}} on {{format_date post.createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{post.body}}
    </div>
  </article>

  {{#if post.Comments}}
    <div class="card special-margin" >
      <div class="card-header">
        <h5>Comments</h5>
      </div>

      <div class="card-body">
        {{#each post.Comments}}
          <div>
            <p>
              {{body}}
            </p>
            <p class="sub-font">
              - {{User.name}}, {{format_date createdAt}}
            </p>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

  <form id="new-comment" class="card">
    <div class="card-header">
      <h5>Add New Comment</h5>
    </div>

    <div class="card-body">
      <input type="hidden" name="post-id" id="post-id" value="{{post.id}}" />

      <label class="form-label" for="comment-body">Comment</label>

      <textarea name="comment-body" id="comment-content" class="form-input"></textarea>

      <button type="submit" class="create-btn">Submit</button>
    </div>
  </form>
</div>

<script src="/js/comment.js"></script>