<div class="posts">
  {{#each posts}}
  <article class="card">
    <div class="card-header">
      <h5>
        <a href="/post/{{id}}">{{title}}</a>
      </h5>
      <div class="post-info">
        Posted by {{User.name}} on {{format_date createdAt}}
      </div>
    </div>
    <div class="card-body">
      {{body}}
    </div>
  </article>
  {{/each}}
</div>